.categories-component {
  width: 100%;
  margin: 1.5rem 0 2rem;
  .categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .category {
      line-height: 24px;
      padding: 0.5rem 0.75rem 0;
      text-transform: capitalize;
      cursor: pointer;
      &.active {
        color: #1c77f8;
      }
    }
  }
}