.courses-component {
  width: 100%;
  h1 {
    font-size: 1.5rem;
    color: #333;
  }
  .courses {
    width: 100%;
    .all-courses {
      // display: flex;
      // justify-content: flex-start;
      // flex-wrap: wrap;
    }
  }
}