body {
    font-family: 'Lato', sans-serif;
    color: #222222;
    background-color: #FFFFFF;
}

#root {
    max-width: 100vw;
    overflow-x: hidden;
}

input, button, select, textarea {
    &:active, &:focus {
        outline: none;
    }
}
.hide {
    display: none;
}
a {
    color: #333;
    text-decoration: none;
    &:hover {
        color: #333;
        text-decoration: none;
    }
}
button.primary {
    color: #fff;
    border: none;
    height: 45px;
    background-color: #28a745;
    font-weight: 500;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    a {
        color: #fff;
    }
}
input {
    height: 44px;
    border: none;
    border-radius: 0;
    padding: 0.25rem 1rem;
}

.section-container {
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}